parameters:
	ignoreErrors:
		-
			message: '#^Class App\\Models\\User not found\.$#'
			identifier: class.notFound
			count: 1
			path: config/auth.providers.admin_users.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: config/filesystems.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 8
			path: tests/TestCase.php
